.custome_collapse .collapse_button>a[aria-expanded="true"]+.collapce_icon .bi-plus-circle {
    display: none;
}

.custome_collapse .collapse_button>a[aria-expanded="false"]+.collapce_icon .bi-plus-circle {
    display: initial;
}

.custome_collapse .collapse_button>a[aria-expanded="true"]+.collapce_icon .bi-dash-circle-fill {
    display: initial;
}

.custome_collapse .collapse_button>a[aria-expanded="false"]+.collapce_icon .bi-dash-circle-fill {
    display: none;
}

.custome_collapse .collapse_button>a[aria-expanded="true"] {
    color: #12406F !important;
}